// Prata Regular
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;600&family=Cookie&family=Playfair+Display&family=Prata&display=swap');

// Prata Regular
.ff-prata-regular {
  font-family: 'Prata', serif;
  font-weight: 400;
}

// Barlow Regular
.ff-barlow-regular {
  font-family: 'Barlow', sans-serif;
  font-weight: 400;
}

// Barlow Semibold
.ff-barlow-semibold {
  font-family: 'Barlow', sans-serif;
  font-weight: 600;
}

// Cookie regular
.ff-cookie-regular {
  font-family: 'Cookie', cursive;
  font-weight: 400;
}

// Playfair Display
.ff-playfair-display-regular {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
}





